@mixin promote {
  .promote-slide-bullets {
    position: absolute;
    display: flex;
  }

  .promote {
    color: map-get($map: $color, $key: fashion);
    .nav-prev {
      position: absolute;
      left: 0;
      background-color: map-get($map: $color, $key: opacity-gray);
      .nav-prev-icon {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../images/cool-health/navigation/cool-health_material-04.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transform: rotate(-90deg);
      }
    }
    .nav-next {
      position: absolute;
      right: 0;
      background-color: map-get($map: $color, $key: opacity-gray);
      .nav-next-icon {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../images/cool-health/navigation/cool-health_material-04.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transform: rotate(90deg);
      }
    }
  }
}

@mixin promote-PC {
}
@mixin promote-PC-Tablet {
  .promote {
    padding-top: $header-height-pc;
    max-width: $container;
    min-height: calc(100vmin - #{$header-height-pc});
    margin: 0 auto;
    .nav-prev {
      top: 45%;
      width: 30px;
      height: 50px;
    }
    .nav-next {
      top: 45%;
      width: 30px;
      height: 50px;
    }
  }
  .promote-slide-item {
    min-height: calc(100vmin - #{$header-height-pc});
    &.promote-slide-item-fashion img {
      border-left: map-get($map: $color, $key: fashion) solid 11px;
    }
    &.promote-slide-item-fittness img {
      border-left: map-get($map: $color, $key: fittness) solid 11px;
    }
    &.promote-slide-item-tech img {
      border-left: map-get($map: $color, $key: tech) solid 11px;
    }
    &.promote-slide-item-aesthetic img {
      border-left: map-get($map: $color, $key: aesthetic) solid 11px;
    }
    &.promote-slide-item-gender img {
      border-left: map-get($map: $color, $key: gender) solid 11px;
    }
  }
  .promote-slide-title {
    padding-left: 5.5%;
    color: map-get($map: $color, $key: fashion);
    font-size: 39px;
    font-weight: 700;
    line-height: 49px;
  }

  .promote-list {
    .owl-dots {
      display: flex;
      justify-content: center;
      .owl-dot {
        width: 10px;
        height: 10px;
        margin: 4px;
        border-radius: 50%;
        background-color: map-get($map: $color, $key: fashion);
        &.active {
          background-color: map-get($map: $color, $key: dark-gray);
        }
      }
    }
  }
}
@mixin promote-Tablet {
}
@mixin promote-Tablet-Mobile {
}
@mixin promote-Mobile {
  .promote {
    padding-top: $header-height-mobile;
    .nav-prev {
      top: 37%;
      font-size: 20px;
    }
    .nav-next {
      top: 37%;
      font-size: 20px;
    }
  }
  .promote-slide-item {
    img {
      width: 100%;
    }
    &.promote-slide-item-fashion img {
      border-left: map-get($map: $color, $key: fashion) solid 7px;
    }
    &.promote-slide-item-fittness img {
      border-left: map-get($map: $color, $key: fittness) solid 7px;
    }
    &.promote-slide-item-tech img {
      border-left: map-get($map: $color, $key: tech) solid 7px;
    }
    &.promote-slide-item-aesthetic img {
      border-left: map-get($map: $color, $key: aesthetic) solid 7px;
    }
    &.promote-slide-item-gender img {
      border-left: map-get($map: $color, $key: gender) solid 7px;
    }
  }
  .promote-slide-title {
    padding: 1vw 5vw;
    color: map-get($map: $color, $key: fashion);
    font-size: 23px;
    font-weight: 700;
    line-height: 32px;
  }

  .promote-list {
    .owl-dots {
      display: flex;
      padding: 5px 0 0 5px;
      justify-content: center;
      .owl-dot {
        width: 9px;
        height: 9px;
        margin-right: 5px;
        border-radius: 50%;
        background-color: map-get($map: $color, $key: fashion);
        &.active {
          background-color: map-get($map: $color, $key: dark-gray);
        }
      }
    }
  }
}
